<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>FileUploadAndDownload</title>
    <style>
        .btn{
            background-color: blueviolet;
        }

        .data-part{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="data-part">
        <label>单文件上传，请选择上传文件：</label>
        <!--<input type="file" placeholder="select file"/>-->
        <!--<div class="btn">点击上传</div>-->
        <form method="POST" enctype="multipart/form-data" action="/hy-web/page/file/doUpload">
            <label for="file">文件：</label>
            <input type="file" name="file">
            <input type="submit" value="上传">
        </form>
    </div>

    <div class="data-part">
        <label>多文件上传，请选择上传文件：</label>
        <!--<input type="file" placeholder="select file"/>-->
        <!--<div class="btn">点击上传</div>-->
        <form method="POST" enctype="multipart/form-data" action="/hy-web/page/file/doMultiUpload">
            <label for="file">文件01：</label>
            <input type="file" name="file">
            <label for="file">文件02：</label>
            <input type="file" name="file">
            <input type="submit" value="上传">
        </form>
    </div>
</body>
</html>