<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Login</title>
    <script src="/hy-web/js/jquery.js"></script>
    <script src="/hy-web/js/cookie.js"></script>
    <style>
        body{
            background: url("/hy-web/image/login.png");
        }
        .login{
            width: 350px;
            height: 200px;
            margin: 300px auto;
            border: 1px solid blue;
        }
        .line{
            padding: 10px 10px;
        }
        .btn{
            cursor: pointer;
        }
        .hiddenArea{
            display: none;
        }
    </style>
</head>
<body>
    <div class="login">
        <div class="line">
            <label>用户：</label>
            <input id="userId" type="text"/>
        </div>
        <div class="line">
            <label>密码：</label>
            <input id="pswd" type="password"/>
        </div>
        <div class="line">
            <button onclick="login()" class="btn">登陆</button>
        </div>
        <div class="hiddenArea">
            <p id="url" th:text="${url}">url</p>
        </div>
    </div>
    <script>
        function onLoad() {
            
        }

        function login() {

            var password = $("#pswd").val();
            var userId = $("#userId").val();
            console.log(userId+' '+password);
            $.ajax({
                url: "/hy-web/api/authenticate",
                data: {
                    userId: userId,
                    password: password
                },
                dataType: "json",
                success: function(data){
                    console.log("用户登录成功！");
                    docCookies.setItem('userId', userId, 60*60*24*30, '/');
                    var url = $("#url").html();
                    if(url == '' || url == null || typeof url === 'undefined'){
                        location.href = "/hy-web/page/file/upload";
                    }else{
                        location.href = url;
                    }
                }
            });

        }
    </script>
</body>
</html>