<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Login</title>
    <script src="/hy-web/js/jquery.js"></script>
    <style>
        body{
            background: url("/hy-web/image/login.png");
        }
        .login{
            width: 350px;
            height: 200px;
            margin: 300px auto;
            border: 1px solid blue;
        }
        .line{
            padding: 10px 10px;
        }
        .btn{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="login">
        <div class="line">
            <label>用户：</label>
            <input id="name" type="text"/>
        </div>
        <div class="line">
            <label>密码：</label>
            <input id="pswd" type="password"/>
        </div>
        <div class="line">
            <button onclick="login()" class="btn">登陆</button>
        </div>
    </div>
    <script>
        function onLoad() {
            
        }

        function login() {

            var userId = $("#pswd").val();
            var userName = $("#name").val();
            console.log(userId+' '+userName);

        }
    </script>
</body>
</html>