<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Login</title>
    <script src="/hy-web/js/jquery.js"></script>
    <style>
        div a{
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div id="downLoadList">
        <div><span>E:/图片/...</span><a href="/hy-web/page/file/fileDown?path=E:/图片/...">下载</a></div>

    </div>
    <script>
        function onLoad() {
            console.log("开始获取数据...");
            filesPath();
        }

        $(window).ready(function(){
            filesPath();
        }());

        function filesPath() {
            console.log("开始获取数据...");
            $.ajax({
                url: "/hy-web/page/file/filesPath",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    var htm = "";
                    $(data).each(function (index,obj) {
//                        obj = obj.replace(':','%3A');
//                        var url = encodeURIComponent('/hy-web/page/file/fileDown?path='+obj);
                        htm += '<div><span>'+obj+'</span><a href="/hy-web/page/file/fileDown?path='+encodeURIComponent(obj)+'">下载</a></div>';
                    });
                    $("#downLoadList").append(htm);
                }
            });
            console.log("获取数据结束...");
        }

    </script>
</body>
</html>