<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--指定mybatis所用日志的具体实现，未指定时将自动查找-->
        <!--打印sql-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <!--指定一个包名，mybatis会在包名下面搜索Java Bean-->
        <package name="com.haiyoung.model"/>
    </typeAliases>

</configuration>