<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiyoung.hyweb.mapper.LockMapper">

    <resultMap type="com.haiyoung.hyweb.biz.lock.Lock" id="LockResult">
        <id column="id" property="id"/>
        <result column="lock_thread" property="lockThread"/>
        <result column="lock_type" property="lockType"/>
        <result column="lock_object" property="lockObject"/>
        <result column="lock_date" property="lockDate" />
    </resultMap>

    <sql id="base_column_list">
      id,lock_thread,lock_type,lock_object,lock_date
    </sql>

    <select id="getLockById" parameterType="java.lang.String" resultMap="LockResult">
        select
        <include refid="base_column_list"/>
        from sys_lock
        where id = #{id}
    </select>

    <select id="findAll" resultMap="LockResult">
        select * from sys_lock
    </select>

    <insert id="lockInsert" parameterType="com.haiyoung.hyweb.biz.lock.Lock">
        insert into sys_lock(id,lock_thread,lock_type,lock_object,lock_date)
        values (#{id},#{lockThread},#{lockType},#{lockObject},#{lockDate})
    </insert>
</mapper>